/* .about_info_container{
    display: flex;
    align-items: center;
    
    position: relative;
} */

.items_detail{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-top: 30px;
}

.title{
  padding: 0 5px;
  margin: 0;
  width: 15%;
}

.items{
  display:inline;
  justify-content: center;
  
} 


.item{
  padding: 6px 10px;
  background-color:rgba(116, 116, 116, 0.1);
  margin: 12px 5px;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .items_detail{
    margin-top: 10px;
  }

  .title{
    padding: 0 3px;
    margin: 0;
    width: 45%;
    font-size: 15px;
  }
  .item{
    font-size: 15px;
    padding: 6px 5px;
  }

}